<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userOne" class="com.atguigu.spring.pojo.User" scope="singleton" init-method="initMethod" destroy-method="destroyMethod">
        <property name="uId" value="123"/>
        <property name="uName" value="123"/>
    </bean>

</beans>