<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atguigu.mapper.MovieMapper">


    <insert id="insertMovie">
        insert into movie values
        <foreach collection="movies" item="movie" separator=",">
            (#{movie.movieName},#{movie.movieImg},null,#{movie.movieMagnetic})
        </foreach>

    </insert>
</mapper>
